@charset "UTF-8";

/*
****************************************************************************************************
* MAIN PART
****************************************************************************************************
*/


* {box-sizing: border-box; margin: 0;}
* {font-family: "Times New Roman", Georgia, Serif;}

html {
  overflow-y: hidden !important;
}

.v-theme--light.v-application {
  background-color: var(--v-background-base, rgb(248, 244, 255)) !important;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background:rgb(232, 232, 236);
}

::-webkit-scrollbar-thumb {
  background: rgb(197, 215, 243);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(173, 187, 212);
}
